{%- macro intro(city_name,country_name,state_name,continent_name,area,
			population,population_acc_to_year,is_state_capital,is_country_capital,
			other_names,most_populous,GWCR_ranking,is_largest_country,city_type) -%}
	
	{%- set name_line=[
						city_name + ' అనే నగరం '+country_name+' దేశం లో ఉంది.',
						city_name+ ' అనే  నగరం, '+country_name+' దేశానికి చెందినది.' 
					] | random
	-%}


	{%- set continent_line=[
						'ఈ నగరం '+ continent_name +' అనే ఖండంలో ఉన్నది.',
						'ఇది '+continent_name+' ఖండానికి చందిన నగరం.'
					] | random
	-%}

	{%- set area_line=[
						city_name + ' ' + area +' చదరపు కిలోమీటర్ల విస్తీర్ణంలో ఉంది.',
						city_name + ' సుమారు '+ area + ' చదరపు కిలోమీటర్ల విస్తీర్ణంలో ఉంది.',
						city_name+ ' ' +  area + ' చదరపు కిలొమీటర్ల వైశాల్యం కలిగి ఉంది.'
						] | random
	-%}

	{%- set population_line=[
						 population_acc_to_year + ' సంవత్సరం నాటికి ఇక్కడి జనాభా ' + population + '. '
					] | random
	-%}

	{{name_line}} 
	{%- if is_state_capital and not is_country_capital -%}
		ఈ నగరం {{state_name}}కి రాష్ట్ర రాజధాని.
	{%- elif not is_state_capital and is_country_capital -%}
 		ఈ నగరం {{country_name}}కి దేశ రాజధాని.
    {%- elif is_state_capital and is_country_capital -%}
		ఈ నగరం {{state_name}}కి రాష్ట్ర  రాజధాని తో పాటు {{country_name}}కి రాజధాని కూడా.
    {%- endif -%} {{continent_line}} {{area_line}} {{population_line}} 

    {%- if other_names !="0" and other_names[-1] != "*" -%}
    {{other_names}} అనేవి ఈ నగరానికి మారు పేర్లు. 
    {%- elif other_names !="0" and other_names[-1] == "*" -%}
    {{other_names[:-1]}} అనేది ఈ నగరానికి మారు పేరు.
    {%- endif -%}
	
	{%- if is_largest_country and city_type!="0" -%}
		{{city_name}} {{country_name}}లో {{is_largest_country}}వ అతి పెద్ద {{city_type}}.
	{%- elif not is_largest_country and city_type!="0"-%}
		{{city_name}} {{country_name}}లో {{city_type}}గా గుర్తించబడింది.
	{%- elif is_largest_country and city_type=="0" -%}
		{{city_name}} {{country_name}}లో ఉన్న అతి పెద్ద నగరాలలొ {{is_largest_country}}వ స్థానంలొ ఉంది.
	{%- endif -%}

	{%- if most_populous -%}
		జనాభా లెక్కల ప్రకారం ఈ నగరం {{country_name}}లొ {{most_populous}}వ  స్థానంలో  ఉంది.  
	{%- endif -%}
	
	{%- if GWCR_ranking != "0" -%}
	గ్లోబలైజేషన్ అండ్ వరల్డ్ సిటీస్ రీసెర్చ్ నెట్ వర్క్ ప్రకారం, ఈ నగర హోదా {{GWCR_ranking}}- గ గుర్తించబడినది. 
	{%- endif -%}
	
{%- endmacro -%}

{# Function Calls Below #}

{{- intro(
			city_name,
			country_name,
			state_name,
			continent_name,
			area,
			population,
			population_acc_to_year,
			is_state_capital,
			is_country_capital,
			other_names,
			most_populous,
			GWCR_ranking,
			is_largest_country,
			city_type
		) -}}

